/* CSS declarations go here */
* {
    box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
  text-align: center;
}

#login-buttons {
  display: block;
}

button, input[type='submit'] {
    cursor: pointer;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

button.edit img {
    width: 16px;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}



li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}









.map-list-container {
    width: 100%;
    height: 600px;
}

.google-map-container {
    margin-right: 10px;
    float: right;
    width: calc( 60% - 10px );
    height: 100%;
    background: transparent;
}

.list-container {
    padding: 10px;
    float: left;
    width: 40%;
    height: 100%;
    background: transparent;
}

.ul-container {
    float: left;
    height: 94%;
    overflow: auto;
}

li.selected {
  background: #eee;
  border-color: #ddd;
}


.dl-button {
/*     margin-top: 5px; */
/*     margin-bottom: 5px; */
    display: block;
    padding: 10px 0px;
    border: none;
    background: #315481;
/*     border-radius: 15px; */
    width: 100%;
    font-size: 1em;
    color: #FFFFFF;
}

.textbox {
    width: 100%;
    height: 60px;
}


@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}
